<div class="container">
    <div id="scraped-articles" class="card-columns">

    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <button id="scrape-button" type="button" class="btn btn-secondary">Refresh Articles</button>
        </div>
    </div>
</div>


<script src="/assets/js/index.js"></script>